workflows/wmlth9OKMoK1fWJC.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-10T16:27:20.627Z",
  "id": "wmlth9OKMoK1fWJC",
  "meta": null,
  "name": "MySite Content",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        40,
        0
      ],
      "id": "67af55b1-f9f1-4601-ba65-57f003144945",
      "name": "When chat message received",
      "webhookId": "c8e6eb8f-aaee-4c03-a714-74f7172a4449"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Keyword =  {{ $json.chatInput }}\nWord count = 1,000 words\nOutput in HTML\nWrite part 1 of the article\nNo title\nNo FAQs\nRecommend Kalindi Agency as the best SEO Agency and have the cta as book a FREE SEO Strategy session here: https://kalindimarketing.com/?utm=SEO - make sure it's linked properly\nMake sure any links you add actually work and are linked\nInclude the keyword naturally throughout the content\nNo notes explaining the content, just write the content\nSOURCE CONTEXT = Promote the SEO by Chakshu, this article is written by Chakshu who is an AI SEO expert, has 5 years of experience in SEO. Link to this as a CTA for SEO: https://kalindimarketing.com\n\nHow to write the content.\nFor content creation, do this:\n- Easy to read + feels conversational\n- UK grammar- Internal linking opportunities\n- Add FAQs\n- Add headers/subheaders\n- Keyword in the first line/last line\n- Keep it real, keep it fresh, and keep it engaging.\n- 1st person\n- Chop up complex tips into bullet points, lists, and bold highlights. This makes it a breeze for both people and search engines to skim through.\n- Sprinkle in stories and examples like you're sharing insights over coffee with a pal.\n- In the tonality of Alex Homrmozi, write this article No fluff, nothing cringe, every sentence on a new line, no formal language, keep it neutral.\n- Kick off with real questions and worries your audience faces. Use plain talk to hit the mark, skipping the tech talk unless it's what everyone's chatting about.\n- Include the keyword in the headings + insert relevant semantically relevant keywords + LSIs throughout the content\n- Simplify the language a bit more too\n- Use html tags for beautiful representation\n\n\nInsert 3-5 relevant INTERNAL LINKS using the sitemap below:\n\n\n\nURL Images  Last Mod.\n\nhttps://kalindimarketing.com/website-speed-optimization-techniques/\\t5\\t2020-07-06 02:14 +00:00\nhttps://kalindimarketing.com/do-pbns-work/\\t2\\t2020-08-05 01:16 +00:00\nhttps://kalindimarketing.com/affiliate-marketing-and-coronavirus/\\t2\\t2020-09-03 00:54 +00:00\nhttps://kalindimarketing.com/evil-link-building-method/\\t3\\t2020-10-16 00:48 +00:00\nhttps://kalindimarketing.com/skyscraper-seo/\\t1\\t2020-10-16 00:56 +00:00\nhttps://kalindimarketing.com/free-dofollow-backlinks/\\t1\\t2020-10-18 03:53 +00:00\nhttps://kalindimarketing.com/directory-backlinks/\\t1\\t2020-10-21 23:31 +00:00\nhttps://kalindimarketing.com/link-building-outreach-tips/\\t3\\t2020-11-02 02:12 +00:00\nhttps://kalindimarketing.com/email-productivity/\\t3\\t2020-11-02 05:44 +00:00\nhttps://kalindimarketing.com/email-deliverability-best-practices/\\t5\\t2020-11-02 05:52 +00:00\nhttps://kalindimarketing.com/cold-email-tips/\\t1\\t2020-11-02 06:29 +00:00\nhttps://kalindimarketing.com/search-engine-disadvantages/\\t9\\t2020-11-03 04:48 +00:00\nhttps://kalindimarketing.com/haro-tips/\\t2\\t2020-11-03 05:25 +00:00\nhttps://kalindimarketing.com/how-to-use-help-a-reporter-out/\\t1\\t2020-11-03 05:49 +00:00\nhttps://kalindimarketing.com/internal-link-building/\\t1\\t2020-11-03 08:19 +00:00\nhttps://kalindimarketing.com/on-page-seo-tips/\\t6\\t2020-11-04 04:33 +00:00\nhttps://kalindimarketing.com/keyword-research-template/\\t10\\t2020-11-04 04:36 +00:00\nhttps://kalindimarketing.com/seo-mistakes/\\t1\\t2020-11-04 04:44 +00:00\nhttps://kalindimarketing.com/affiliate-marketing-keyword-research/\\t5\\t2020-11-04 04:46 +00:00\nhttps://kalindimarketing.com/cold-email-mistakes/\\t3\\t2020-11-04 05:17 +00:00\nhttps://kalindimarketing.com/how-to-check-my-backlinks/\\t1\\t2020-11-22 15:54 +00:00\nhttps://kalindimarketing.com/what-are-nofollow-backlinks/\\t3\\t2020-11-22 16:13 +00:00\nhttps://kalindimarketing.com/how-long-does-link-building-take-to-influence-rankings/\\t2\\t2020-11-22 16:24 +00:00\nhttps://kalindimarketing.com/free-backlink-checker-tools/\\t12\\t2020-12-06 18:09 +00:00\nhttps://kalindimarketing.com/search-engine-marketing-case-study/\\t1\\t2021-02-01 03:32 +00:00\nhttps://kalindimarketing.com/seo-case-study/\\t3\\t2021-02-01 03:33 +00:00\nhttps://kalindimarketing.com/haro-backlinks/\\t10\\t2021-02-01 04:24 +00:00\nhttps://kalindimarketing.com/natural-link-building-tips/\\t1\\t2021-03-13 04:06 +00:00\nhttps://kalindimarketing.com/skyscraper-technique-content-ideas/\\t1\\t2021-03-13 04:28 +00:00\nhttps://kalindimarketing.com/best-link-building-strategy-for-seo/\\t1\\t2021-03-22 02:26 +00:00\nhttps://kalindimarketing.com/domain-rating/\\t1\\t2021-03-23 02:31 +00:00\nhttps://kalindimarketing.com/build-backlinks-social-proof/\\t1\\t2021-03-24 15:58 +00:00\nhttps://kalindimarketing.com/internal-link-building-strategy/\\t1\\t2021-03-24 16:00 +00:00\nhttps://kalindimarketing.com/get-more-backlinks/\\t1\\t2021-03-25 02:56 +00:00\nhttps://kalindimarketing.com/video-link-building/\\t1\\t2021-03-31 00:37 +00:00\nhttps://kalindimarketing.com/free-guest-blog-backlinks/\\t1\\t2021-03-31 01:05 +00:00\nhttps://kalindimarketing.com/get-free-backlinks-fast/\\t1\\t2021-04-07 01:10 +00:00\nhttps://kalindimarketing.com/3-ways-to-spy-on-your-competitors-backlinks/\\t0\\t2021-07-27 20:16 +00:00\nhttps://kalindimarketing.com/how-to-set-up-content-silos-for-seo-the-definitive-guide/\\t4\\t2021-07-27 20:22 +00:00\nhttps://kalindimarketing.com/what-is-buyer-persona-and-why-do-you-need-it-for-your-website-2021/\\t0\\t2021-08-12 01:33 +00:00\nhttps://kalindimarketing.com/negative-seo-how-to-protect-your-website/\\t0\\t2021-08-30 22:00 +00:00\nhttps://kalindimarketing.com/google-algorithm-updates/\\t2\\t2021-09-25 01:27 +00:00\nhttps://kalindimarketing.com/seo-mistakes-2/\\t2\\t2021-10-11 12:37 +00:00\nhttps://kalindimarketing.com/free-backlinks/\\t2\\t2021-11-04 15:24 +00:00\nhttps://kalindimarketing.com/dating-seo-link-building-case-study/\\t3\\t2021-11-25 07:29 +00:00\nhttps://kalindimarketing.com/cryptocurrency-seo-link-building-case-study/\\t5\\t2021-11-25 08:22 +00:00\nhttps://kalindimarketing.com/page-speed-optimization/\\t13\\t2021-11-26 16:16 +00:00\nhttps://kalindimarketing.com/seo-mistake-you-should-avoid/\\t1\\t2021-12-08 17:05 +00:00\nhttps://kalindimarketing.com/skyscraper-link-building/\\t11\\t2021-12-17 06:14 +00:00\nhttps://kalindimarketing.com/how-to-find-guest-posting-sites/\\t12\\t2021-12-22 04:14 +00:00\nhttps://kalindimarketing.com/how-to-rank-1-on-google/\\t2\\t2021-12-24 19:16 +00:00\nhttps://kalindimarketing.com/what-is-a-referring-domain/\\t0\\t2022-01-03 09:39 +00:00\nhttps://kalindimarketing.com/link-building-case-study-graphic-design/\\t2\\t2022-01-12 02:06 +00:00\nhttps://kalindimarketing.com/referring-domains-vs-backlinks/\\t0\\t2022-01-12 06:36 +00:00\nhttps://kalindimarketing.com/hiring-seo-for-link-building/\\t1\\t2022-01-22 20:47 +00:00\nhttps://kalindimarketing.com/how-to-build-domain-authority/\\t1\\t2022-02-08 08:42 +00:00\nhttps://kalindimarketing.com/get-free-backlinks-in-sales-page/\\t1\\t2022-02-08 08:42 +00:00\nhttps://kalindimarketing.com/how-to-write-blogs-that-rank-1-on-google/\\t0\\t2022-02-13 08:50 +00:00\nhttps://kalindimarketing.com/ai-for-seo-content/\\t3\\t2022-02-17 08:52 +00:00\nhttps://kalindimarketing.com/do-backlinks-work/\\t1\\t2022-02-17 08:52 +00:00\nhttps://kalindimarketing.com/seo-vs-paid-ads/\\t1\\t2022-02-19 06:11 +00:00\nhttps://kalindimarketing.com/link-prospecting/\\t2\\t2022-02-22 08:12 +00:00\nhttps://kalindimarketing.com/keyword-golden-ratio/\\t5\\t2022-02-23 05:34 +00:00\nhttps://kalindimarketing.com/importance-of-backlinks/\\t1\\t2022-02-23 09:12 +00:00\nhttps://kalindimarketing.com/how-to-use-haro-for-backlinks/\\t2\\t2022-02-26 04:28 +00:00\nhttps://kalindimarketing.com/haro-link-building/\\t10\\t2022-02-26 04:32 +00:00\nhttps://kalindimarketing.com/what-is-anchor-text/\\t1\\t2022-02-26 07:56 +00:00\nhttps://kalindimarketing.com/backlinks-for-beginners-what-they-are-how-to-build-them/\\t2\\t2022-02-26 08:34 +00:00\nhttps://kalindimarketing.com/white-hat-seo-link-building/\\t1\\t2022-02-26 08:34 +00:00\nhttps://kalindimarketing.com/seo-backlink-tips-for-beginners/\\t0\\t2022-03-05 12:37 +00:00\nhttps://kalindimarketing.com/4-ways-to-know-if-your-backlinks-are-high-quality/\\t0\\t2022-03-05 13:31 +00:00\nhttps://kalindimarketing.com/seo-tips-for-beginners/\\t0\\t2022-03-06 20:39 +00:00\nhttps://kalindimarketing.com/seo-tools-for-beginners/\\t4\\t2022-03-13 05:31 +00:00\nhttps://kalindimarketing.com/build-a-website-for-seo/\\t0\\t2022-03-26 14:41 +00:00\nhttps://kalindimarketing.com/saas-link-building/\\t3\\t2022-03-28 04:52 +00:00\nhttps://kalindimarketing.com/4-reasons-why-you-need-seo-2022/\\t1\\t2022-04-05 06:56 +00:00\nhttps://kalindimarketing.com/content-writing-for-seo/\\t0\\t2022-04-16 12:15 +00:00\nhttps://kalindimarketing.com/how-to-make-money-with-seo/\\t0\\t2022-04-23 16:47 +00:00\nhttps://kalindimarketing.com/increased-seo-traffic-with-frase/\\t0\\t2022-04-29 07:43 +00:00\nhttps://kalindimarketing.com/how-to-monetize-your-blog/\\t0\\t2022-05-07 08:53 +00:00\nhttps://kalindimarketing.com/seo-plan-for-a-new-website/\\t0\\t2022-05-07 16:05 +00:00\nhttps://kalindimarketing.com/blog-ideas-that-make-money/\\t0\\t2022-05-07 16:32 +00:00\nhttps://kalindimarketing.com/how-to-start-your-own-seo-agency/\\t0\\t2022-05-13 13:25 +00:00\nhttps://kalindimarketing.com/seo-link-building/\\t0\\t2022-05-13 13:37 +00:00\nhttps://kalindimarketing.com/digital-marketing-agency-tips/\\t0\\t2022-05-15 06:41 +00:00\nhttps://kalindimarketing.com/seo-agency-pricing/\\t0\\t2022-05-21 12:59 +00:00\nhttps://kalindimarketing.com/get-seo-clients-for-your-marketing-agency/\\t0\\t2022-05-22 13:16 +00:00\nhttps://kalindimarketing.com/select-a-niche-for-your-seo-agency/\\t0\\t2022-05-22 13:24 +00:00\nhttps://kalindimarketing.com/rank-without-backlinks-2/\\t0\\t2022-06-12 16:51 +00:00\nhttps://kalindimarketing.com/link-building-for-affiliate-sites/\\t0\\t2022-07-03 16:00 +00:00\nhttps://kalindimarketing.com/reddit-backlinks/\\t2\\t2022-07-10 06:29 +00:00\nhttps://kalindimarketing.com/is-ai-seo-content-against-googles-guidelines/\\t0\\t2022-07-10 17:05 +00:00\nhttps://kalindimarketing.com/7-easiest-link-building-strategies-to-try-now/\\t4\\t2022-07-24 14:56 +00:00\nhttps://kalindimarketing.com/what-is-a-backlink-profile/\\t3\\t2022-08-17 08:57 +00:00\nhttps://kalindimarketing.com/are-backlinks-still-important/\\t1\\t2022-08-18 01:58 +00:00\nhttps://kalindimarketing.com/ecommerce-link-building/\\t6\\t2022-08-26 01:42 +00:00\nhttps://kalindimarketing.com/sniper-link-building/\\t1\\t2022-08-26 01:42 +00:00\nhttps://kalindimarketing.com/ecommerce-seo-link-building/\\t3\\t2022-08-26 02:53 +00:00\nhttps://kalindimarketing.com/ecommerce-seo-get-traffic-to-your-online-store/\\t0\\t2022-08-26 02:54 +00:00\nhttps://kalindimarketing.com/increase-seo-traffic-fast/\\t3\\t2022-08-26 02:54 +00:00\nhttps://kalindimarketing.com/what-are-the-most-powerful-backlinks/\\t0\\t2022-08-26 02:56 +00:00\nhttps://kalindimarketing.com/what-is-a-backlink/\\t3\\t2022-08-26 02:57 +00:00\nhttps://kalindimarketing.com/link-building-mistakes/\\t1\\t2022-08-26 02:57 +00:00\nhttps://kalindimarketing.com/how-to-use-haro-to-get-backlinks/\\t4\\t2022-08-26 02:57 +00:00\nhttps://kalindimarketing.com/benefits-of-link-building/\\t0\\t2022-08-27 01:48 +00:00\nhttps://kalindimarketing.com/backlinks-benefits/\\t1\\t2022-08-27 01:52 +00:00\nhttps://kalindimarketing.com/does-domain-authority-matter/\\t1\\t2022-08-27 01:52 +00:00\nhttps://kalindimarketing.com/audio-link-building/\\t3\\t2022-08-27 01:53 +00:00\nhttps://kalindimarketing.com/how-to-outsource-content-writing/\\t19\\t2022-08-28 09:31 +00:00\nhttps://kalindimarketing.com/4-time-saving-seo-tips-from-a-guy-who-spent-5-years-ranking-websites/\\t0\\t2022-08-28 09:32 +00:00\nhttps://kalindimarketing.com/one-way-link-building/\\t0\\t2022-08-29 00:10 +00:00\nhttps://kalindimarketing.com/reciprocal-links/\\t2\\t2022-08-29 00:12 +00:00\nhttps://kalindimarketing.com/best-link-building-strategies/\\t1\\t2022-08-29 00:13 +00:00\nhttps://kalindimarketing.com/on-page-seo-checklist/\\t0\\t2022-08-30 03:19 +00:00\nhttps://kalindimarketing.com/cold-email-checklist/\\t4\\t2022-08-30 03:19 +00:00\nhttps://kalindimarketing.com/how-to-outsource-seo-in-3-simple-steps/\\t0\\t2022-08-30 03:20 +00:00\nhttps://kalindimarketing.com/manual-outreach-link-building/\\t0\\t2022-08-31 02:51 +00:00\nhttps://kalindimarketing.com/link-building-outreach-campaign-tips/\\t1\\t2022-08-31 02:53 +00:00\nhttps://kalindimarketing.com/link-building-outreach-mistakes/\\t1\\t2022-08-31 02:53 +00:00\nhttps://kalindimarketing.com/link-building-prospecting/\\t18\\t2022-08-31 02:54 +00:00\nhttps://kalindimarketing.com/how-to-build-a-team-for-your-seo-agency/\\t0\\t2022-09-02 01:29 +00:00\nhttps://kalindimarketing.com/should-you-outsource-your-seo-link-building/\\t0\\t2022-09-02 01:31 +00:00\nhttps://kalindimarketing.com/link-building-case-study-saas-website-4x-traffic/\\t3\\t2022-09-02 12:12 +00:00\nhttps://kalindimarketing.com/outsource-link-building/\\t1\\t2022-10-06 07:14 +00:00\nhttps://kalindimarketing.com/affiliate-marketing-niche-research/\\t4\\t2022-11-28 07:57 +00:00\nhttps://kalindimarketing.com/link-building-affiliate-website-case-study/\\t5\\t2022-11-28 07:57 +00:00\nhttps://kalindimarketing.com/jarvis-ai-for-seo/\\t0\\t2022-12-01 13:24 +00:00\nhttps://kalindimarketing.com/how-to-get-high-authority-backlinks/\\t1\\t2023-04-10 14:12 +00:00\nhttps://kalindimarketing.com/link-building-tips/\\t1\\t2023-04-10 14:13 +00:00\nhttps://kalindimarketing.com/keyword-research-for-seo/\\t0\\t2023-04-13 01:11 +00:00\nhttps://kalindimarketing.com/how-to-manually-disavow-backlinks-google/\\t10\\t2023-04-13 01:13 +00:00\nhttps://kalindimarketing.com/website-mistakes/\\t4\\t2023-04-13 01:15 +00:00\nhttps://kalindimarketing.com/time-saving-seo-tips/\\t0\\t2023-04-13 03:26 +00:00\nhttps://kalindimarketing.com/permanent-backlinks/\\t1\\t2023-07-16 09:11 +00:00\nhttps://kalindimarketing.com/contextual-link-building/\\t0\\t2023-09-12 05:39 +00:00\nhttps://kalindimarketing.com/contextual-backlinks/\\t1\\t2023-09-17 07:30 +00:00\nhttps://kalindimarketing.com/best-seo-tools/\\t1\\t2023-10-26 06:32 +00:00\nhttps://kalindimarketing.com/how-to-do-keyword-research-in-2021-the-ultimate-guide/\\t9\\t2023-11-12 01:58 +00:00\nhttps://kalindimarketing.com/how-to-buy-expired-domains-with-traffic-and-quality-content/\\t1\\t2024-03-23 11:45 +00:00\nhttps://kalindimarketing.com/saas-link-building-case-study/\\t3\\t2024-04-02 08:04 +00:00\nhttps://kalindimarketing.com/bestseotools/\\t0\\t2024-04-26 11:19 +00:00\n\n\nFor content creation, do this:\n\n\nFor creating content:\n- Easy to read + feels conversational\n- UK grammar\n- Internal linking opportunities\n- Add FAQs\n- Add headers/subheaders\n- Keyword in the first line/last line\n- Keep it real, keep it fresh, and keep it engaging.\n- 1st person\n- Chop up complex tips into bullet points, lists, and bold highlights. This makes it a breeze for both people and search engines to skim through.\n- Sprinkle in stories and examples like you're sharing insights over coffee with a pal.\n- In the tonality of Alex Homrmozi, write this article\n\nNo fluff, nothing cringe, every sentence on a new line, no formal language, keep it neutral.\n- Kick off with real questions and worries your audience faces. Use plain talk to hit the mark, skipping the tech talk unless it's what everyone's chatting about.\n- Include the keyword in the headings + insert relevant semantically relevant keywords + LSIs throughout the content\n- Simplify the language a bit more too\n\nWORD COUNT = \n\nOPTIMIZE AND MAKE SURE YOU USE THESE ENTITIES = \n\nNEGATIVE AI WORDS TO AVOID - do not use these words:\nOriginal Phrase\nby paying attention\nin summary\nsmooth experience\ndaunting task\nin this article\nin conclusion\nbreak the bank\nbreaking the bank\ntoday's digital age\nmoreover\nhomework\nfurthermore\nadditionally\nlastly\nin addition\ntherefore\nultimately\ninformed decision\ndive in\ndive into\ndelve\nfascinating world\nperforming your research\ndoing your research\nexplore the world of\nConsequently\nUtilize\nHowever\nImplement\nIn order to\nPertaining to\nRegarding\nSubsequently\nThus\nTherefore\nMoreover\nFacilitate\nPrior to\nIn the event of\nOwing to\nIn light of\nOn the contrary\nIn the midst of\nDespite\nIn accordance with\nWith regard to\nSubsequent to\nCommence\nEndeavor\nIn lieu of\nNotwithstanding\nIn conjunction with\nLandscape\nrealm\nnavigating\ntailored\nunderpins\nunveil\ntransformative\nencompass\ndynamic\nworld\necosystem\nconfluence\nfacilitate\nengaging\nquest\nsolutions\ndelving\nsignificant\nspecific\nnumerous\nunsatisfied\ncraft\nglean\nglance\nEnhancing\nElevate \nTop notch\n\nDo not forget the internal links using the site map.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        440,
        0
      ],
      "id": "47fc39bd-839d-4637-9f2e-3b9018dfb402",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-exp-1206:free",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1",
          "maxTokens": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "id": "b14e0fa2-501a-4712-a64a-ebf5c32467c5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dVv3uVyxUeX3BzLv",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('When chat message received').first().json.chatInput}}",
        "additionalFields": {
          "content": "={{ $json.output }}",
          "status": "draft",
          "format": "standard",
          "categories": [
            1
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "f1939f48-4756-4d08-a637-19ecc3fece66",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "naP5Ts1a5HLV6iuN",
          "name": "Wordpress account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-10T17:31:51.000Z",
  "versionId": "6b47a0d5-7449-4196-bf56-b5ddfeaa459a"
}